In [35]:
import pandas as pd
fileinput = 'wos-complete.csv'
df = pd.read_csv(fileinput, sep=';')

In [36]:
df[df['Publication Year'].isnull()]["Early Access Date"]
df[df['Publication Year'].isnull()]['Publication Year']

6   NaN
Name: Publication Year, dtype: float64

In [37]:
from dateutil.parser import parse
df.loc[df['Publication Year'].isnull(), 'Publication Year'] = df.loc[df['Publication Year'].isnull(), 'Early Access Date'].apply(lambda x: parse(x, fuzzy=True).year)

In [38]:
df['Publication Year'] = df['Publication Year'].astype(int)

In [39]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    display(df.loc[df['Document Type'] == "Review"])

Empty DataFrame
Columns: [Publication Type, Authors, Book Authors, Book Editors, Book Group Authors, Author Full Names, Book Author Full Names, Group Authors, Article Title, Source Title, Book Series Title, Book Series Subtitle, Language, Document Type, Conference Title, Conference Date, Conference Location, Conference Sponsor, Conference Host, Author Keywords, Keywords Plus, Abstract, Addresses, Reprint Addresses, Email Addresses, Researcher Ids, ORCIDs, Funding Orgs, Funding Text, Cited References, Cited Reference Count, Times Cited, WoS Core, Times Cited, All Databases, 180 Day Usage Count, Since 2013 Usage Count, Publisher, Publisher City, Publisher Address, ISSN, eISSN, ISBN, Journal Abbreviation, Journal ISO Abbreviation, Publication Date, Publication Year, Volume, Issue, Part Number, Supplement, Special Issue, Meeting Abstract, Start Page, End Page, Article Number, DOI, Book DOI, Early Access Date, Number of Pages, WoS Categories, Research Areas, IDS Number, UT (Unique WOS ID), Pubmed Id, Open Access Designations, Highly Cited Status, Hot Paper Status, Date of Export, Unnamed: 67]
Index: []

In [40]:
# Type of publication to CSV file

res = df.groupby(['Publication Year','Document Type'],dropna=False).size().to_frame('count').sort_values(by=['Publication Year']).reset_index()
res.to_csv('publication-year-type.csv', sep=',', index=True, index_label='X')
res

   Publication Year          Document Type  count
0              2016      Proceedings Paper      1
1              2018                Article      1
2              2018      Proceedings Paper      9
3              2019      Proceedings Paper      8
4              2020                Article      2
5              2020  Article; Early Access      1
6              2020      Proceedings Paper      6
7              2021                Article      5
8              2021      Proceedings Paper      3

In [41]:
#df.replace(to_replace='Proceedings Paper', value='Confrence Proceeding', inplace=True)

In [42]:
# Year of publication to CSV file

res = df.groupby(['Publication Year'], dropna=False).size().to_frame('count').sort_values(by=['Publication Year'])
res.to_csv('publication-year.csv', sep=',')
res

                  count
Publication Year
2016                  1
2018                 10
2019                  8
2020                  9
2021                  8

In [43]:
# Year of publication to CSV file

res = df.groupby(['Document Type'], dropna=False).size().to_frame('count').sort_values(by=['Document Type'])
res.to_csv('publication-type.csv', sep=',')
res

                       count
Document Type
Article                    8
Article; Early Access      1
Proceedings Paper         27

In [78]:
df.groupby(['Publication Year', 'Document Type'], dropna=False).size().to_frame('count').sort_values(by=['Document Type'])

                                        count
Publication Year Document Type
2018             Article                    1
2020             Article                    2
2021             Article                    5
2020             Article; Early Access      1
2016             Proceedings Paper          1
2018             Proceedings Paper          9
2019             Proceedings Paper          8
2020             Proceedings Paper          6
2021             Proceedings Paper          3

In [83]:
# Year of publication to CSV file
res = df.groupby(['Publication Year', 'Document Type'], dropna=False).size().to_frame('count').sort_values(by=['Document Type'])
res = res.reset_index().pivot(index='Publication Year', columns='Document Type', values='count').fillna(0).astype(int)

res.to_csv('publication-all.csv', sep=',')
res

Document Type     Article  Article; Early Access  Proceedings Paper
Publication Year
2016                    0                      0                  1
2018                    1                      0                  9
2019                    0                      0                  8
2020                    2                      1                  6
2021                    5                      0                  3